@model Ejercicio2.Models.clsPersona
<h1>@ViewData["Saludo"]</h1>
<h3>@ViewBag.Fecha</h3>
<p>Nombre: @Model.nombre</p>
<p>Apellidos: @Model.apellidos</p>
<p>Fecha de nacimiento: @Model.fechaNac</p>
<p>Direccion: @Model.direccion</p>
<p>Telefono: @Model.telefono</p>
@Html.ActionLink("Tabla de personas", "ListaPersonas")