@model List<Ejercicio2.Models.clsPersona>
<table border="1">
    <thead>
        <tr border="1px">
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de nacimiento</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (clsPersona persona in Model)
        {
            <tr>
                <td>@persona.idPersona</td>
                <td>@persona.nombre</td>
                <td>@persona.apellidos</td>
                <td>@persona.fechaNac</td>
                <td>@persona.direccion</td>
                <td>@persona.telefono</td>
            </tr>
        }
    </tbody>
</table>