@{
    ViewData["Title"] = "Home Page";
}
@using EjercicioT8FinalENT
@model EjercicioT8FinalUI.Models.ClsListadoVM

@if (Model.misiones is not null)
{
    @using (Html.BeginForm("Detalles", "Home", FormMethod.Post))
    {
        <select name="id">
            @foreach (ClsMision ms in Model.misiones)
            {
                if (Model.misionSeleccionada?.id == ms.id)
                {
                    <option value="@ms.id" selected>@ms.nombre</option>
                } else
                {
                    <option value="@ms.id">@ms.nombre</option>
                }
            }
        </select>
        <br />
        <br />
        <button>Ver detalles</button>
        <br />
        <br />
        @if (Model.misionSeleccionada != null)
        {
            <div>@Model.misionSeleccionada.descripcion</div>
            <div>Recompensa: @Model.misionSeleccionada.recompensa</div>
        }
    }
}
else
{
    <h1>A descansar campeon, que son muy tardias estas horas</h1>
}