@model EjercicioCRUD_ASP.Models.ViewModels.PersonaDepartamentoVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonaDepartamentoVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Persona.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.Apellidos)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Persona.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.FechaNacimiento)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Persona.Foto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Persona.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
